body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.container > * {
    border: 2px solid black;
}

.site-header,
.site-footer {
    background-color: #f4f4f4;
    padding: 10px 0;
    /* Add properties for flexbox below this comment */
}

/* Learners will add the rest of their CSS below this line */

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: 100%;
    gap: 10px;
}

.main-content {
    
}